extends layout

block main
  div.dilute-background.column-center
    section
      a.unanchor.rebutton.bigbutton.center(href="/home/how-it-works") How it works/Tutorial
    section.column-center
      h2 Our mission
      p To help you stay connected to those you truly care about. This is designed to be a medium agnostic, non-calendered, warm and user friendly, communicatioin asset, indended to support a small-medium set of contacts.
    section.column-center 
      h2 Why use this manager
      h3 Medium Agnostic
      p When my husband left Facebook, he stopped talking to all contacts through messenger. Much of how we communicate now is determined by the communication mediums we share. If we frequent one less, you lose your connectiveness with those with whome you shared that medium. dt
      h3 Non-calendered
      p So you care about someone enough that you don't want to forget their birthday. You probably add them to your calender. Now they are integrated into your daily meetings, dental appointments, and parent teacher conferences, the calendar of work-life balance. In my case, I look out a month ahead, apply the right filters and color coding to call them out, and make sure I coordinate a gift two weeks out for a shipping buffer; this is manageable for me, no more than this however. Everyone struggles with the calendar of work-life balance; it is stressfull. Adding this type of communication fidelity to your work-life balance calendar risks making connecting with your nearest and dearest a stressful task to be checked off rather than something to look forward to.
      h3 Warm and user friendly
      p How do you choose to spend your time? Yoga, exercise (Monday and Wednesday after work), meditation, reading (break between tasks and last act before bed), wordle (morning toilet challenge), chatting with an old friend? If you have time for any of these, you have likely prioriized them and/or carved out a period of time to devote to them. My husband and I have commuted from DC suberbs to DC and Seattle suberbs to Seattle. The time I spent trying to repurpose my commute (1.5-2 hours each way) got me all the way through the Game of Thrones book series. Carve out some time in your day, 15 min before bed, a cup of coffee in the morning, a lovely ferry ride, use this time to tender your list, and enjoy it. This is the pattern of behavior this application is intended to support. 
      h3 Small-medium set of contacts
      p It is possible to have thousands of "friends" accross a half-dozen applications and still be completely alone. The way to change that is to be the change. Put the social media down, make a coffee date, call a firend, be the support you'd like to have.  
    
      