extends layout

block main
  
  section
    h2 Our mission
    p To help you stay connected to those you truly care about.
  section
    a.unbutton.rebutton(href="/home/how-it-works") How it works
  section
    h2 What's on the horizon
  section
    h2 Why do this?
    p It is possible to have thousands of friends accross a dozen applications and still be completely alone.
    
      