doctype html

html(lang="en-US")  
  head
    title Connections
    meta(charset="UTF-8")

  body
    header
      h1 Welcome to connections
      block header

    main
      block main

  footer
      block footer