doctype html

html(lang="en-US")  
  head
    title Connections
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="manifest" href="/images/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/images/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    script(src="/javascripts/application.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-GKZCZE7VP0")
    script(src="https://kit.fontawesome.com/48b9c90b27.js" crossorigin="anonymous")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GKZCZE7VP0');

  body
    //- block overlay-bottom
    header.pb-1.clearfix
      div.welcome.flex-left
        img.logo(src="/images/connections-logo.png" alt="Connections logo")
        div.welcome-text
          h1 Welcome to Connections
      //- h2.welcome How is life, the universe, and everything?
      if signedIn 
        nav#primary-nav
          ul
            li.first(class=(activePage == 'home'? 'active' : ''))
              a.unanchor.nav-rebutton(href="/home") Connections
            li.second(class=(activePage == 'userHome'? 'active' : ''))
              a.unanchor.nav-rebutton(href="/user/home") Home
            li.third(class=(activePage == 'contacts'? 'active' : ''))
              a.unanchor.nav-rebutton(href="/user/contacts") Contacts
            li.fourth(class=(activePage == 'account'? 'active' : ''))
              a.unanchor.nav-rebutton(href="/user/account") Account
            li.fifth
              form(action="/logout" method="post") 
                input.unbutton(type="submit" value="Logout")
      else
        nav#primary-nav
          ul
            li.first(class=(activePage == 'home'? 'active' : ''))
              a.unanchor.nav-rebutton(href="/home") Connections
            li.fifth(class=(activePage == 'login'? 'active' : ''))
              a.unanchor.nav-rebutton(href="/login") Login
      - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.message(class=kind)= message
      br
      p.line-break
      br
      block header
    main
      block main

  footer
    block footer
    div.flex-column-center
      br
      br
      br
      span Copyright &#169; 2023
      a(href="/home/privacy" data-test-id="privacy") Privacy Statement