doctype html

html(lang="en-US")  
  head
    title Connections
    meta(charset="UTF-8")

  body
    header
      - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.flash(class=kind)= message
      block header

    main
      block main

  footer
    block footer