extends layout

block header

block main
  div.center-distributed
    form.login-register(action="/login" method="post")
      fieldset.column-center
        legend.mb-2 Login to your account
        dl.mb-1
          dt
            label(for="user-id") Username or email:  
          dd
            input(type="text" name="userId" id="user-id" value=userId)
        dl.mb-1
          dt
            label(for="password") Password:  
          dd
            input(type="password" name="password" id="password")
        input.mb-a-half.unbutton.rebutton-login(type="submit" value="Login")
        a.disable.tiny-text(href="/login") Forgot Password (coming soon)

    form.login-register(action="/register" method="post")
      fieldset.column-center
        legend.mb-2 Register for an account
        dl.mb-1
          dt
            label(for="username") Choose a username 
          dd
            input(type="text" name="username" id="username" value=registerUsername)
        dl.mb-1
          dt
            label(for="email") Enter your email address 
          dd
            input(type="email" name="email" id="email" placeholder="username@domain.com" value=registerEmail)
        dl.mb-1
          dt
            label(for="password") Enter password
          dd
            input(type="password" name="password" id="password")
        dl.mb-1
          dt
            label(for="password-confirm") Re-enter password
          dd
            input(type="password" name="password_confirm" id="password-confirm")
        input.unbutton.rebutton-login(type="submit" value="Register")