extends layout

block header
  h2 Please sign in to access your account

block main
  form(action="#" method="post") 
    dl
      dt
        label(for="email") Email
          
      dd
        input(type="email" name="email" id="email" placeholder="username@domain.com")
    dl
      dt
        label(for="password") Password
      dd
        input(type="text" name="password" id="password")
    input(type="submit" value="Login")
  a(href="/register") Register for an account