extends layout

block header
  h2 Register for an account

block main
  form(action="#" method="post") 
    dl
      dt
        label(for="email") Enter your email address
          
      dd
        input(type="email" name="email" id="email" placeholder="username@domain.com")
    dl
      dt
        label(for="password") Enter password
      dd
        input(type="password" name="password" id="password")
    dl
      dt
        label(for="password-confirm") Re-enter password
      dd
        input(type="password" name="password_confirm" id="password-confirm")
    input(type="submit" value="Register")