extends layout

block main
  div.account.flex-column-center
    p.space-v2
    h2 Account Information 
    p.space-v2
    dl.side-by-side 
      dt Username: 
      dd.flex-justified
        span(data-test-id="username") #{user.username}
        a.unanchor.rebutton.h-1(href="/user/account/update-username" data-test-id="update-username") edit
    dl.side-by-side 
      dt Email:
      dd.flex-justified
        span(data-test-id="email") #{user.email}
        a.unanchor.rebutton.h-1(href="/user/account/update-email" data-test-id="update-email") edit
    p.space-v1
    div
      a.unanchor.rebutton(href="/user/account/reset-password" data-test-id="reset-password") Change Password 
    p.space-v2
    h2 User Profile 
    p.space-v2
    dl.side-by-side 
      dt First Name:
      dd(data-test-id="first-name") #{user.first_name || "None"}
    dl.side-by-side 
      dt Last Name:
      dd(data-test-id="last-name") #{user.last_name || "None"}
    p.space-v1
    div
      a.unanchor.rebutton(href="/user/account/update-account-information" data-test-id="update-account-information") Update Profile Data