html{
  font-family: 'Montserrat', sans-serif;
  font: normal 16px;
  color:#414b3b;
}

body{
  background-image: url("/images/coffee_desk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-sizing: border-box;
}

.body-padding{
  padding: 3rem 5%;
}

.color-active{
  background-color:#e8d498;
}

.color-inverse{
  background-color:#263e32;
  color:#fcfff5
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-distributed{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.center-align-right{
  display: flex;
  justify-content: flex-end;
}

.column-center{
  display:flex;
  flex-direction: column;
  align-items: center;
}

a, a.visitted{
  color:#263e32;
}

.unanchor{
  text-decoration: none;
}

.unbutton{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.rebutton{
  background-color:#263e32;
  color:#fcfff5;
  height:2rem;
  padding: 0 2rem;
  margin: 2px;
}

.bigbutton{
  height:3rem;
}

.babybutton{
  height:1rem;
  font-size: .75rem;
  padding: 0 1rem;
  border-radius: 5px;
}

.w-25{
  width:25%;
}

.p-1{
  padding:1rem;
}

.p-2{
  padding:2rem;
}

.p-3{
  padding:3rem;
}

.mb-a-half {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.tiny-text{
  font-size: .75rem;
}

.disable{
  color:rgb(150, 150, 150);
  font-weight:lighter;
}

nav li{
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px;
  border-radius: 7px;
  text-align: center;
  background-color: #fcfff5;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}

nav a, nav input{
  width: 125px;
  height: 3rem;
}

.login-register{
  box-sizing: border-box;
  background-color: rgba(252, 255, 245,.5);
}

.login-register label{
  font-size: .9rem;
  font-weight:500;
}

.login-register input{
  width: 200px;
}

.login-register input[type=text], 
.login-register input[type=password], 
.login-register input[type=email]{
  height: 1.25rem;
}

.login-register legend{
  font-size: 1.25rem;
}

.welcome h1{
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

.welcome h2{
  padding-left: 3rem;
  font-size: 1.5rem;
}

.dilute-background{
  background-color: rgba(252, 255, 245,.6);
  margin:3rem;
  padding: 3rem;
  box-sizing: border-box;
}

body > main section{
  box-sizing: border-box;
  margin: 1.5rem 5%;
}

h1{
  font-size: 2rem;
  font-weight:bold;
  margin: 1rem 0;
}

h2{
  font-size: 1.5rem;
  font-weight:400;
  margin: .75rem 0;
}

h3{
  font-size: 1.25rem;
  font-weight:bold;
  margin: .75rem 0;
}

p{
  color:#5a4328;
}

ol.enumerated-list {
 counter-reset: my-list-counter;
}

ol.enumerated-list>li {
  counter-increment: my-list-counter;
  font-size: 1.5rem;
}

ol.enumerated-list>li::before {
  content: counter(my-list-counter) ". ";
  font-weight: bold;
  font-size: 1.5rem;
}

ul.unordered-list{
  list-style: square;
  list-style-position:inside;
}

ol ul.unordered-list{
  font-size: .75em;
  margin-left: 2rem;
}

ul.unordered-list>li{
  text-indent: -1.5em;
  padding: .5em 0 .5em 1.5em;
}

dl.side-by-side > dd, dl.side-by-side > dt{
  display:inline-block;
}

dl.side-by-side > dt{
  font-weight: bold;
}

dl.side-by-side > dd{
  margin-left: 1rem;
}

.front-and-center{
  box-sizing: border-box;
  width: 40%;
  position: fixed;
  top: 8rem;;
  left: 30%;
  z-index: 2;
  background-color:#fcfff5;
  float:none;
}

.float-column-formatter{
  box-sizing: border-box;
  width:100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  float: left;
  position: fixed;
}

div.contact-list-elm:nth-child(odd){
  background-color: #fcfff5;
}

div.contact-list-elm:nth-child(even){
  background-color:#cee2c5;
}

dl.contact-list dt{
  vertical-align: top;
}

.contact-list-elm{
  display:flex;
  padding: 2rem;
  margin:4px;
  border-radius: 1.5rem;
}

.left{
  width:45%;
  padding: 1rem;
}

.right{
  width:45%;
  padding:1rem;
}