html{
  font-family: 'Montserrat', sans-serif;
  font: normal 16px;
}

body{
  background-color: rgb(250,250,250);
  color:rgb(84, 110, 122 );
  margin: 2rem 1.5rem 4rem 1.5rem;
}

nav#primary-nav{
  /* float:right; */
  /* display: flex;*/
}

#primary-nav li{
  display: inline-block;
  box-sizing: border-box;
  background-color: rgb(52, 152, 219); 
  margin:2px;
}

#primary-nav li,
#primary-nav a, 
#primary-nav input{
  width: 100px;
  height: 2rem;
  border-radius: 3px;
  color:white;
  font-weight:600;
  font-size: .75rem;
  text-align: center;
}

#primary-nav a:hover,
#primary-nav input:hover,
nav a:hover,
nav input:hover,
.hover:hover {
  box-shadow: 3px 3px 1px rgba(0,0,0,.6);
}

#primary-nav .active, .pagination .active{
  background-color: rgb(1, 87, 155);
}

nav > *{
  margin: 2px;
}

.page,.page a{
  display: inline-block;
  text-align: center;
  color:white;
  background-color: rgb(52, 152, 219);
  border-radius: 2px;
  width:1rem;
}


.pagination span.end a{
  color:rgb(1, 63, 109);
}


#welcome h1{
  text-shadow: 2px 2px rgb(0,0,0,.6);
}


/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

#home > h2, #home > h3{
  text-align: center;
}

.account dl, 
.login dl, 
.contact dl{
  padding-bottom: .5rem;
}
.account > h2, 
.login > h2, 
.contact > h2{
  text-align: center;
}
.account dd > input, 
.login dd > input, 
.contact dd,
.contact dd > input,
.contact dd > select{
  width: 18rem;
}

textarea{
  min-width: 320px;
  min-height: 12rem;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-justified {
  display: inline-flex;
  justify-content: space-between;
}

.flex-right{
  display: flex;
  justify-content:right;
}

dl.format{
  display: flex;
  flex-wrap: wrap;
}

dl.format dt.skinny{
  width:12rem;
  height:.01rem;
}

dl.format dd{
  width:19.5rem;
  font-size: .8rem;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.unanchor{
  text-decoration: none;
}

.unbutton{
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.nav-rebutton{
  display:flex;
  align-items: center;
  justify-content: center;
}

.rebutton{
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 2rem;
  padding:0 1rem;
  border-radius: 3px;
  background-color: rgb(52, 152, 219);
  color:white;
  font-weight:600;
  font-size: .75rem;
  text-align: center;
}

.rebutton:hover{
  box-shadow: 3px 3px 1px rgba(0,0,0,.6);
}

.disable{
  color:rgb(200, 200, 200)
}

.error, .alert{
  color:#C0392B;
}

.required::after {
  content: "*";
  margin-left: 6px;
  color:#C0392B;
  width:10px;
}

.unordered-list{
  list-style-type:square;
}

.unordered-list > li{
  box-sizing: border-box;
  text-indent: -1.25rem;
  margin: .5rem 0 0 1.5rem ;
  list-style-position: inside;
  color:rgb(96, 125, 139);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

.side-by-side dt{
  display: inline-block;
  box-sizing: border-box;
  text-align:left;
  width: 12rem;
  font-weight:600;
}

.side-by-side dd{
  display: inline;
  margin-left: 1.5rem;
  width: 18rem;
}

.side-by-side dd.flex-justified {
  display: inline-flex;
  justify-content: space-between;
}

.side-by-side dd > *{
  text-overflow: ellipsis;
}

.alternate:nth-child(even){
  background-color:rgb(179, 229, 252 );
}

.alternate:nth-child(n){
  margin:4px; 
}

dd.flex-right{
  display: inline-flex;
  justify-content: flex-end;
}

.h-1{
  height: 1rem;
}

.pb-1{
  padding-bottom: 1rem;
}

h1{
  font-size: 2rem;
  color:rgb(52, 152, 219);
}

h2{
  font-size: 1.25rem;
  color: rgb(1, 63, 109);
}

h3{
  color:rgb(84, 110, 122 );
}

p{
  line-height: 1.5;
  color:rgb(96, 125, 139);
}