extends ../layout

block header
  h2 #{`Contact edit page for ${contact.getName()}`}
  nav.flex-right
    form.delete(action=`/user/contacts/${contact.getId()}/delete` method="post")
      input.unbutton.rebutton(type="submit" value="DELETE CONTACT")
 
block main
  form(action=`/user/contacts/${contact.getId()}/edit` method="post")
    +contact-details