extends ../layout
  
block main
  h2 How it works
  br
  h3 Create a list of contacts  
  ul.unordered-list
    li For each contact, specify your communication objectives
    li Specify how often you want to contact someone: weekly, monthly, quarterly... 
    li Specify what events you want to reach out to someone: Birthdays, Valentine's Day, Veterans Day, Halloween, Christmas...
  br
  h3 Go to your home page. 
  ul.unordered-list
    li Your home page will update weekly with contacts you should reach out to over the week
    li You will be also be given reminders for upcoming special events
  br
  h3 Manage your home page
  ul.unordered-list
    li As you go through your contact objectives, update your objective with a snooze or a completed. 
    li If you snooze, your connection will be pushed into the following week. 
    li If you complete the objective, your connection will be requeued based on your periodic specification, if you said quarterly, the connection will requeue in 3 months.
    li If you reach the end of the week without a status update on your connection, it will be pushed into the following week
  br
  h3 Helpful hints
  ul.unordered-list
    li If you step away from the app and open it to find you are due to contact EVERYONE, you can snooze yourself to a reasonable amount of connections and over time establish a consistent pacing. I estimate that I would be shooting for 10 a week. 
    li If you never reach a reasonable pacing, consider re-evaluating your periodicity. If you have 300 contacts you wish to connect with weekly, you are likely struggle with consistent pacing. 
    li We want communication to be pleasant, not a punishment or ordeal.