extends ../layout

block main
  span At 
  |
  a(href="greetingshooman.com") greetingshooman.com
  |
  span , we take your privacy seriously and are committed to protecting any personal information that you provide to us. This privacy statement outlines our practices for collecting, using, maintaining, protecting, and disclosing personal information that we may obtain from you when you visit our website.
  br
  br
  p #[strong Personal Information We Collect: ] We may collect personal information, such as your name, email address, and other contact information, when you voluntarily submit it to us through our website's contact form or subscription form.
  br
  p #[strong How We Use Your Personal Information: ] We use your personal information only for the purpose of responding to your inquiry or delivering the services that you requested, such as sending newsletters or promotional materials. We will not share, rent, or sell your personal information to any third party.
  br
  p #[strong Protection of Your Personal Information: ] We take reasonable measures to ensure that your personal information is protected from unauthorized access, disclosure, alteration, or destruction. However, please note that no transmission of data over the internet or any other public network can be guaranteed to be 100% secure.
  br
  p #[strong Cookies and Tracking Technologies: ] We may use cookies and other tracking technologies to collect information about your use of our website. These technologies help us analyze website traffic, personalize content, and measure the effectiveness of our marketing campaigns. You can choose to disable cookies through your browser settings, although this may limit your ability to access certain features of our website.
  br
  p #[strong Changes to This Privacy Statement: ] We may update this privacy statement from time to time to reflect changes in our information practices or legal obligations. We encourage you to review this statement periodically to stay informed about our privacy practices.
  br
  span #[strong Contact Us: ] If you have any questions or concerns about this privacy statement or our handling of your personal information, please contact us at 
  |
  a(href= "mailto:greetingshooman.info@gmail.com") greetingshooman.info@gmail.com.