extends ../layout

block main
  form(action="/user/account/reset-password" method="post" data-test-id="reset")
    div.account.flex-column-center
      h2 Reset Password
      br
      dl.side-by-side 
        dt
          label(for="password") Current Password:  
        dd
          input(type="password" name="password" id="password")
      dl.side-by-side 
        dt
          label(for="new-password") New Password:  
        dd
          input(type="password" name="newPassword" id="new-password")
      dl.side-by-side 
        dt
          label(for="confirm-password") Confirm Password:  
        dd
          input(type="password" name="confirmPassword" id="confirm-password")
    br
    nav.flex-right
      input.unbutton.rebutton(type="submit" value="Reset Password")
      a.unanchor.rebutton.center(href="/user/account" data-test-id="cancel") Cancel