extends ../layout

block main
    form(action="/user/account/update-username" method="post")
      div.account.flex-column-center
        h2 Update Username
        br
        dl.side-by-side
          dt
            label(for="username") Username:  
          dd
            - let username = (userData.newUsername) ? userData.newUsername : userData.username
            input(type="text" name="username" id="username" value=username)
      br
      nav.flex-right
        input.unbutton.rebutton(type="submit" value="Update username")
        a.unanchor.rebutton(href="/user/account") Cancel