extends ../account 

block overlay-bottom
  div.overlay
block overlay-top
  div.front-and-center.column-center.p-3
    form.login-register.float-column-formatter.mb-2(action="/user/account/update-email" method="post")
      fieldset.column-center
        legend.mb-1 Update Email
        dl.mb-a-half
          dt
            label(for="email") Email:  
          dd
            -let email = (userData.newEmail) ? userData.newEmail : userData.email
            input(type="email" name="email" id="email" value=email)
        input.unbutton.rebutton(type="submit" value="Update email")
    a.unanchor.rebutton.center(href="/user/account") Cancel