extends ../account 

block overlay-bottom
  div.overlay
block overlay-top
  form.front-and-center.login-register.p-3(action="/user/account/update-account-information" method="post")
    fieldset.column-center
      legend.mb-2 Update Account Infromation
      dl.mb-1
        dt
          label(for="first-name") First name:  
        dd
          input(type="text" name="firstName" id="first-name" value=userData.first_name)
      dl.mb-1
        dt  
          label(for="last-name") Last name:  
        dd
          input(type="text" name="lastName" id="last-name" value=userData.last_name)
      input.unbutton.rebutton(type="submit" value="Update")
      a.unanchor.rebutton.center(href="/user/account") Cancel