extends ../layout

block main
  form(action="/user/account/update-email" method="post")
    div.account.flex-column-center
      h2 Update Email
      br
      dl.side-by-side
        dt
          label(for="email") Email:  
        dd
          -let email = (user.newEmail) ? user.newEmail : user.email
          input(type="email" name="email" id="email" value=email)
    br
    nav.flex-right
      input.unbutton.rebutton(type="submit" value="Update email")
      a.unanchor.rebutton(href="/user/account") Cancel